<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
<!--     BOTSTRAP 4   -->        
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- CSS -->

<link rel="stylesheet" href="/css/style.css">

<!--   FONT AWESOME -->
<script src="https://kit.fontawesome.com/065b0452ab.js" crossorigin="anonymous"></script>

    <title>Image Social</title>
</head>
<body>
    
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="/img/llama.png" alt="Logo">
            </a>
        </div>

    </nav>

    <div class="container p-4">
       <div class="row">
           <div class="col-md-8">
                
            {{{body}}}
            
           </div>

           <div class="col-md-4">

           </div>
       </div>  

    </div>
    
</body>
</html>